//Beispiel Eric für base scss
// h1 {font-size: $font-size-h1;

//Media Queries
//$media-sm: 576px;
//@media (min-width: $breakpoint-tablet) { }
//$media-md: 768px;
//$media-lg: 992px;
//$media-xl: 1200px;
//$media-xxl: 1920px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

//html // This defines what 1rem is {font-size: 62,5%;}

body {
  box-sizing: border-box;
}
