//Beispiel Eric für base scss
// h1 {font-size: $font-size-h1;

//Media Queries
//$media-sm: 576px;
//@media (min-width: $breakpoint-tablet) { }
//$media-md: 768px;
//$media-lg: 992px;
//$media-xl: 1200px;
//$media-xxl: 1920px;

//1em = 16px

/* $breakpoint arguement choices:
-phone
-tab-port
-tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 36em) {
      @content;
    } //576px
  }
  @if $breakpoint == md {
    @media (min-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == lg {
    @media (min-width: 62em) {
      @content;
    } //992px
  }
  @if $breakpoint == xl {
    @media (min-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == xxl {
    @media (min-width: 120em) {
      @content;
    } //1920px
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

//html // This defines what 1rem is {font-size: 62,5%--> 10px; 100%-->16Px}

html {
  font-size: 62.5%; //1rem=10px; 10px/16px=62,5%

  @include respond(md) {
    font-size: 68%;
  }

  @include respond(lg) {
    font-size: 75%;
  }

  @include respond(xl) {
    font-size: 85%;
  }

  @include respond(xxl) {
    font-size: 95%;
  }
}

body {
  box-sizing: border-box;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
  }
}
