body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $color-black;
}

.heading-primary {
  color: $color-white;

  &-main {
    display: block;
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
  }

  &-sub {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
}
