@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/components";

@import "pages/home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//html {font-size:62,5%}
