.header--das-cafe {
  height: 50vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(/img/FEND-Coffee-shop.jpg);

  @include respond(md) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url(/img/FEND-Coffee-shop.jpg);
  }
}
.coffee-machine {
  display: flex;
  justify-content: flex-end;
  @include respond(md) {
    flex: 1;
  }
}

.img-coffee-machine {
  width: 24rem;
  height: auto;
  margin: 2rem 0 2rem 0;
}

.textblock-mitte {
  display: block;
  padding: 5%;

  @include respond(lg) {
    margin-left: 20rem;
    width: 60rem;
  }

  h3 {
    padding-bottom: 2rem;
    width: 27rem;

    @include respond(md) {
      width: 100%;
    }
  }
}

.gallery {
  display: block;
  column-count: 2;
  column-gap: 1.5rem;
  background-color: $color-white;
  margin-left: 2rem;
  margin-right: 2rem;

  @include respond(md) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    max-height: calc(100vw / 2.1);

    &__image:nth-child(1) {
      order: 1;
    }
    &__image:nth-child(2) {
      order: 5;
    }
    &__image:nth-child(3) {
      order: 6;
    }
    &__image:nth-child(4) {
      order: 2;
    }
    &__image:nth-child(5) {
      order: 3;
    }
    &__image:nth-child(6) {
      order: 8;
    }
    &__image:nth-child(7) {
      order: 7;
    }
    &__image:nth-child(8) {
      order: 4;
    }
  }

  &__image_img {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
