.header--kontakt {
  height: 5.5rem;
  background-image: none;
  background-color: $color-white;
}

main {
  padding: 5%;
}

h2 {
  padding-top: 7.8rem;
  padding-bottom: 3.4rem;
}

.form {
  &__group {
    margin-bottom: 4rem;
  }
  &__label {
    display: block;
  }
  &__input {
    box-sizing: border-box;
    font-size: 1.4rem;
    font-family: inherit;
    color: $color-grey;
    padding: 2rem 2.5rem 1rem 2rem;
    border: none;
    border-bottom: 2px, solid $color-black;
    background-color: $color-white;
    display: block;

    width: 90%;

    &:focus {
      outline: none;
      background-color: $color-light-grey;
      color: $color-black;
    }

    &:focus:invalid {
      background-color: red 0.5;
    }
    &::-webkit-input-placeholder {
      color: $color-light-grey;
    }
  }
  #betreff-select {
    box-sizing: border-box;
    font-size: 1.4rem;
    font-family: inherit;
    background-color: $color-black;
    color: $color-white;
    border: 0.2rem solid $color-black;
    border-radius: 5px;
    padding: 1.5rem 18rem 1.4rem 2.5rem;
    width: 90%;
  }
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    text-decoration: none;
    padding: 1.5rem 5rem;
    color: $color-white;
    font-size: 1.4rem;
    display: inline-block;
    line-height: 18px;
    background: $color-black;
    border: 0.2rem solid #1a1a1a;
    box-sizing: border-box;
    border-radius: 5px;
    bottom: 3.5rem;
  }
}
