.header--kontakt {
  height: 5.5rem;
  background-image: none;
  background-color: $color-white;

  a {
    color: $color-black;
  }
}

main {
  padding: 5%;
}

.form__container {
  h2 {
    padding-top: 7.8rem;
    padding-bottom: 3.4rem;
  }

  @include respond(lg) {
    display: flex;
    justify-content: space-between;
    h2 {
      flex: 1;
    }
    .form {
      flex: 1;
    }
  }
}

.form {
  &__group {
    margin-bottom: 4rem;
  }
  &__label {
    display: block;
  }
  &__input {
    box-sizing: border-box;
    font-size: 1.4rem;
    font-family: inherit;
    color: $color-grey;
    padding: 2rem 2.5rem 1rem 2rem;
    border: none;
    border-bottom: 2px solid $color-black;
    background-color: $color-white;
    display: block;

    width: 90%;

    &:focus {
      outline: none;
      background-color: $color-light-grey;
      color: $color-black;
    }

    &:focus:invalid {
      background-color: red 0.5;
    }
    &::-webkit-input-placeholder {
      color: $color-light-grey;
    }
  }
  #betreff-select {
    box-sizing: border-box;
    font-size: 1.4rem;
    font-family: inherit;
    background-color: $color-black;
    color: $color-white;
    border: 0.2rem solid $color-black;
    border-radius: 5px;
    padding: 1.5rem 18rem 1.4rem 2.5rem;
    width: 90%;
  }

  // .select-selected {
  //   background-color: $color-black;
  // }

  // .selcet-selected:after {
  //   position: absolute;
  //   content: "";
  //   top: 14px;
  //   right: 10px;
  //   width: 0;
  //   height: 0;
  // }

  // .select-selected.select-arrow-active:after {
  //   border-color: transparent transparent #fff transparent;
  //   top: 7px;
  // }
  .select-items div,
  .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  .select-items {
    position: absolute;
    background-color: $color-black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  #message {
    width: 90%;
    height: 19rem;
  }

  .inline {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    input {
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      display: inline-block;
      height: 20px;
      width: 20px;
      outline: 2px solid $color-black;
      border-radius: 5px;
      margin-right: 1rem;
      background-color: $color-white;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }

      input:checked ~ .checkmark:after {
        display: block;
      }
    }

    label {
      display: inline-block;
      width: auto;
      margin-right: 1rem;
    }
  }

  .form__button {
    display: flex;
    justify-content: center;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    text-decoration: none;
    padding: 1.5rem 5rem;
    color: $color-white;
    font-size: 1.4rem;
    display: inline-block;
    line-height: 18px;
    background: $color-black;
    border: 0.2rem solid #1a1a1a;
    box-sizing: border-box;
    border-radius: 5px;
    bottom: 3.5rem;
    text-align: center;
  }
}
