.header--shop {
  height: 5.5rem;
  background-image: none;
  background-color: $color-white;

  a {
    color: $color-black;
  }
}

.nav-desktop-li--shop {
  a {
    color: $color-black;
  }
}

h2 {
  padding-bottom: 4rem;
}
