* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;
}

.header {
  height: 75vh;
  background-image: url(/img/FEND-Coffee-latte-art-3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  left: 0px;
  top: 0px;
}

.logo-box {
  position: absolute;
  left: 24px;
  top: 10px;
}

.logo {
  height: 35px;
  border-radius: 0px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #ffffff;
}

.heading-primary-main {
  display: block;
  font-style: normal;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
}

.heading-primary-sub {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 15px 50px;
  color: rgb(255, 255, 255, 1);
  font-size: 14px;
  display: inline-block;
  line-height: 18px;
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-dark {
  background: #1a1a1a;
  border: 2px solid #1a1a1a;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn-white-frame {
  background: #1a1a1a;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 5px;
}
