.header {
  height: 75vh;
  background-image: url(/img/FEND-Coffee-latte-art-3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  left: 0rem;
  top: 0rem;

  &_logo-box {
    position: absolute;
    left: 2.4rem;
    top: 1rem;
  }

  &_logo {
    height: 3.5rem;
    border-radius: 0rem;
  }

  &_text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
