.header {
  height: 75vh;
  background-image: url(/img/FEND-Coffee-latte-art-3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  left: 0rem;
  top: 0rem;
  width: 100%;

  @include respond(md) {
    background-image: url(/img/FEND-Coffee-latte-art-3_big.jpg);
  }

  &_logo-box {
    position: fixed;
    left: 2.4rem;
    top: 1rem;
  }

  &_logo {
    height: 3.5rem;
    border-radius: 0rem;
  }

  &_burger_menu {
    position: fixed;
    right: 2.4rem;
    top: 2rem;
  }

  &_text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    position: fixed;

    @include respond(md) {
      display: none;
    }
  }

  .nav-desktop {
    display: none;

    @include respond(md) {
      display: flex;
      justify-content: flex-end;
    }

    &-ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      border: 1rem;
      position: fixed;
    }

    &-li {
      flex: 2 1 1;
      a {
        padding: 1.5rem 3.5rem;
        display: inline-block;

        &:after {
          content: "";
          width: 50%;
          height: 1px;
          display: block;
          background: $color-white;
          transition: 300ms;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
